// ------------------------------
// Colors
// ------------------------------

$white:        #ffffff;
$black:        #0b0c10;

$purple:       #4a60cb;

$black-light:  #5d5c61;
$blue-light:   #7395ae;
$blue-bright:  #1ea69a;
$brown-light:  #c2b9b0;
$gray-light:   #c5c6c8;
$green-light:  #afd274;
$orange-light: #ff6621;

$black-dark:   #292c44;
$blue-dark:    #45a29f;
$brown-dark:   #7e685a;
$gold-dark:    #b1a296;
$green-dark:   #7b9e3f;
$orange-dark:  #ff6621;

$main-color:   $white;