// ------------------------------
// Colors
// ------------------------------

$white:        #ffffff;
$black:        #000000;

$purple:       #4a60cb;

$black-light:  #5d5c61;
$blue-light:   #7395ae;
$brown-light:  #c2b9b0;
$gray-light:   #c2c9cf;
$green-light:  #afd274;

$blue-dark:    #557a95;
$brown-dark:   #7e685a;
$gold-dark:    #b1a296;
$green-dark:   #7b9e3f;