.btn-primary {
  background: $blue-light;
  border-color: $blue-dark;
  color: $white;

  &:active, &:hover {
    background: $blue-bright;
    border-color: $blue-light;
    color: $black;
  }
}

.btn-secondary {
  background: $brown-light;
  border-color: $brown-dark;
  color: $white;

  &:active, &:hover {
    background: $brown-dark;
    border-color: $brown-dark;
  }
}